@import "../../vars";

.admin {
    &-container {
        margin-left: auto;
        margin-right: auto;

        @include responsive-property("padding", $standard-padding-map);
    }
    &-form {
        max-width: $max-line-length;
        margin-left: auto;
        margin-right: auto;

        ul {
            list-style-type: none;
            margin-top: $gap;
        }

        li {
            display: flex;
            justify-content: space-between;
            & + li {
                margin-top: $gap-sm;
            }
        }
        input {
            width: 100%;
            max-width: 20rem;
        }
    }
}
