@import "../../vars";

.admin {
    &-container {
        max-width: $max-line-length;
        margin-left: auto;
        margin-right: auto;

        @include responsive-property("padding", $standard-padding-map);
    }
}
