@import "../../vars";

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    grid-auto-flow: row dense;
    list-style-type: none;

    &-item {
        background: $secondary-light;

        &.featured {
            grid-column: span 4;
            grid-row: span 2;
        }
    }
}
