/// <reference path="../../main.scss" />

body {
    font-size: 100%;
    font-family: $body-font, serif;
    @include font-size($reg-font-sizes);

    ::selection {
        background: $primary-medium;
    }

    ::-moz-selection {
        background: $primary-medium;
    }
}

a {
    transition: .3s all;
}

b, strong {
    font-weight: $font-weight-bold;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    font-weight: $font-weight-normal;
}

h1 {
    @include font-size($x-large-font-sizes);
}

h2 {
    @include font-size($large-font-sizes);
}
 
h3 {
    @include font-size($medium-large-font-sizes);
    font-weight: $font-weight-bold;
}

h4 {
    @include font-size($reg-font-sizes);
}

h5 {
    @include font-size($reg-font-sizes);
}

h6 {
    font-family: $accent-font;
    @include font-size($small-font-sizes);
}


